nav.navbar.navbar-expand-lg.navbar-dark.bg-blue
  .container-fluid.ps-5.pt-2.pb-2
    a.navbar-brand(href="/") EPTC Live
    button.navbar-toggler(type="button",
                          data-bs-toggle="collapse",
                          data-bs-target="#navbarTogglerDemo02",
                          aria-controls="navbarTogglerDemo02", 
                          aria-expanded="false",
                          aria-label="Toggle navigation")
      span.navbar-toggler-icon
    .collapse.navbar-collapse#navbarTogglerDemo02
      ul.navbar-nav.me-auto
        li.nav-item
          a.nav-link.active(aria-current="page", href="/") Mapa
        li.nav-item
          a.nav-link.active(aria-current="page", href="/description") Colabore
        li.nav-item
          a.nav-link.active(aria-current="page", href="/description#about") Sobre
  