section.container-fluid.bg-blue
    .row.p-5.pt-4.row-cols-md-1.row-cols-lg-2
        .col.ps-4.pe-5
            .container-fluid 
                .h1.text-warning.pb-3 Um projeto para todos
                p.text-white.pe-4 O EPTC Live utiliza diversas tecnologias livres, entre elas 
                    a.text-white(href='https://getbootstrap.com/', 
                                target='_blank') Bootstrap
                    = ', '
                    a.text-white(href='https://www.mongodb.com/',
                                target='_blank') MongoDB
                    = ', '
                    a.text-white(href='https://nodejs.org/pt-br', 
                                target='_blank') Node.js
                    = ' e ' 
                    a.text-white(href='https://twemoji.twitter.com', 
                                target='_blank') Twemoji
                    = '.' 
                
                p.text-white.pe-4 Portanto, para contribuir com a comunidade open-source, o código desta plataforma é aberto sob licença 
                    a.text-white(href='https://creativecommons.org/licenses/',
                                target='_blank') Creative Commons
                    = ' e está disponível pelo repositório do ' 
                    a.text-white(href='https://github.com/jobedylbas/eptc-live',
                                target='_blank') Github
                    = '.'

                p.text-white.pb-4 Este projeto é totalmente colaborativo e existem diversas formas 
                    | de ajudar. Clique no botão abaixo para mais informações.

                
                a.btn.btn-light.pt-3.pb-3.pe-4.ps-4(href='https://github.com/jobedylbas/eptc-live/blob/main/CONTRIBUTING.md',
                                                    target='_blank')
                    .semi-bold.text-blue Contribuindo com o EPTC Live
            
        .col.pt-3
            .container-fluid
                img#contribute-img.img-thumbnail.img-fluid(src='/public/images/poa.jpg', 
                                                            alt='Orla do Gasômetro vista do alto.')
                figcapture.d-flex.justify-content-center
                    span.text-white Foto:  
                        a.text-white(href="https://unsplash.com/@megdal?utm_source=unsplash&amp;utm_medium=referral&amp;utm_content=creditCopyText",
                                    target='_blank') Rafael de Aguiar Machado